/*http://paperheartdesign.com/blog/color-palette-sweet-succulentsI*/
/* backgroud-color: black; */

/* A note about specificity: 
* Rules written later in the CSS file will override a previous rule
* The more specific the element selector you use, that rule will override a less specific selector rule used later in the CSS file. 

Classes are more specific than elements
IDs are more specific than classes*/
@import url('https://fonts.googleapis.com/css2?family=B612&family=Lato&family=Playfair+Display&display=swap');


:root{
  --darkGrey: #5D5C61;
  --lightGrey:#379683;
  --lightBlue:#7395ae;
  --darkBlue:#557A95;
  --lightBrown:#b1a296;
}

*{
  margin: 0px;
  padding: 0px;
}

body{
  background-color: var(--lightBrown);
  background-size: cover;
  background-repeat: no-repeat;
  text-align:center;
  font-weight: bold;
  font-family: 'Playfair Display', serif;
}

h1{
  color:var(--lightGrey);
}
h2{
  color:rgb(210, 225, 204);
}
h3{
  color: white;
}
p{
  color: white;
}

main{
  padding: 5% 10% 5%;
  background-color: var(--darkGrey);
}
section{
  display: flex;
  flex-direction: row;
}
article{
  display: flex;
  flex-direction: column;
}

.container{
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.header{
  text-aign: center;
	width: fit-content;
}

ul{
  list-style-type: none;
  overflow: hidden;
}

li{
  display: inline-flex;
}

.text{
  text-align: left;
  padding-bottom: 3%;
}

/* NAV BAR */

nav{
  margin: 3%;
  display: flex;
  justify-content: center;
}

nav button{
  font-family: 'Playfair Display', serif;
  cursor:pointer;
  margin-right: 20px;
  margin-left: 20px;
  width:150px;
  height:50px;
  float: right;
  color: white;
  border-color: white;
  background-color: var(--lightBlue);
}

nav button:hover{
  box-shadow: 0 8px 16px 0 rgba(15, 68, 76), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-color: var(--darkBlue);
}

/* FOOTER */

footer{
  background-color: #161d23;
}

.footerTitle{
  font-size: 35px;
  color: white;
  text-align: left;
  margin-top: 5%;
  margin-left: 5%;
}

#footerCredit{
  color: white;
  text-align: center;
  padding: 5%;
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 2% 5% 0;
  width: 70%;
}

.textBox{
  margin: 1% 0 1%;
  display: flex;
  flex-direction: column;
}

.textBoxCaption{
  display: flex;
  justify-content: flex-start;
}

#warning{
  padding-left: 10%
  padding-right: 10%;
}

#message{
  height:200px;
}

textArea{
  padding: 5px;
  font-family:'Playfair Display', serif;
}

#socials{
  align-items: flex-start;
  margin-top: 2%;
}

.fa{
  background-color: rgb(210, 225, 204);
  padding: 20px;
  font-size: 30px;
  width: 15px;
  height: auto;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin: 10px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-instagram {
  background: #F5829F;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.icons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* SUBMIT BUTTON */

.submit{
  padding: 15px 40px;
  background: #000;
  border:0;
  color: #fff;
  text-transform: uppercase;
  font-family: helvetica;
  font-size: 12px;
  letter-spacing: 3px;
  position: relative;
  transition:all .4s cubic-bezier(0.645, 0.045, 0.355, 1);
  cursor: pointer;
  display: block;
  margin: 2% 0% 2%;
}
.submit::after,
.submit::before{
  content: "";
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
    opacity: 0;
  transition:all .4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.submit::after{
    width: 30px;
    height: 1px;
    background: white;
    transform: translateX(-3px);
    margin-top: 0px;
}
.submit::before{
    content: "";
    transform: rotate(-135deg) translateX(50%);
    width: 11px;
    height: 11px;
    background: transparent;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
  margin-top: -1px;
}

.submit:hover{
  padding: 15px 60px 15px 20px;
}
.submit:hover::after,
.submit:hover::before{
  opacity: 1;
  right: 15px;
}

label{
  font-size: 20px;
  text-align: center;
}

input[type = text]{
  width: 50%;
  padding:1%;
}

/*INDEX.HTML*/

#WhoIAmSection{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: var(--lightBrown);
  padding: 2% 0 2%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
}

.meImage {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-color: white;
  border-width: 5px;
  border-radius: 50%;
}

.introduction{
  text-align:center;
  line-height: 1.6;
}

.whoamitext{
  font-size: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#background-transparent{
  background-color: white;
  background-image: url("assets/mentalhealth.jpg");
  background-size: cover;
  background-attachment: fixed;
}
/*ABOUTME.HTML*/

.title{
  font-size: 40px;
  margin-bottom: 5%;
}
/*PORTFOLIO.HTML*/

.portfolioSectionTitle{
  padding: 3%;
  font-size:40px;
}
.portfolioApps{
  display: flex;
  justify-content: space-between;
}

.projectTitle{
  text-align: center;
  padding-top: 5%;
  padding-bottom: 1%;
  font-size:25px;
}

/* Apps */

.appImage{
  height: 500px;
  width: 300px;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  border: black 2px solid;
}

.appDescription{
  width: 500px;
  text-align: center;
  font-size: 20px;
  color: rgb(210, 225, 204);
  line-height: 1.8;
  border: white 2px solid;
  padding: 5%;
}

/* Websites */

.websiteImage{
  height: 500px;
  width: auto;
  object-fit: cover;
  border: white 5px solid;
/*For Tilt 
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease; */
}

.websiteImage:hover{
  height: 510px;
  width: auto;
  object-fit: cover;
  box-shadow: 0 8px 16px 0 rgba(15, 68, 76), 0 6px 20px 0 rgba(0,0,0,0.19);
  /*For Tilt   
  -webkit-transform: rotate(-10deg);
     -moz-transform: rotate(-10deg);
       -o-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg); */
}

.websiteDescription{
  text-align: left;
  font-size: 20px;
  color: rgb(210, 225, 204);
  line-height: 1.8;
  margin-bottom: 5%;
}

/* Games */
.gameDescription{
  text-align: center;
  font-size: 20px;
  color: rgb(210, 225, 204);
  line-height: 1.8;
  margin-bottom: 3%;
}